*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/*
*/build/*
*/.serena/*
/captures
.externalNativeBuild
.cxx
local.properties
/인증서.file.txt
/ocr_module.md
